html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, helvetica, sans-serif;
  height: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,398235+100 */
  background: #c9de96; /* Old browsers */
  background: -moz-linear-gradient(top, #c9de96 0%, #398235 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c9de96 0%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c9de96 0%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */

  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  text-align: center;
  padding: 20px 0;
}
.contenedor {
  margin: 0 auto;
  width: 800px;
}
div.hero img {
  width: 100%
}
h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 30px 0;
}
ul.lista-productos {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.lista-productos li {
  float: left;
  width: 50%;
  padding: 20px;
  text-align: center;
}
ul.lista-productos li:nth-child(2n+1) {
  clear: both;
}
ul.lista-productos li img {
  border: 10px solid rgba(128, 1, 195, 0.45);
}
ul.lista-productos li img:hover {
  border: 10px solid rgba(128, 1, 195, 1);
}
ul.lista-productos li p {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
ul.lista-productos li p span {
  font-size: 40px;
  color: #ffce00;
}
.boton {
  background-color: #ffce00;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(128, 1, 195, .8);
}
.boton:hover {
  color: rgba(128, 1, 195, 1);
}
