/*selectores de id (con #)*/
#titulo {
  color: green;
}
/*Selectores de clases (con .)*/

/*selectores de id y  clases (con # .)*/
#titulo.titulo{
  font-size: 60px;
}
/*selectores con dos clases*/
.azul.tituloCurso {
  color: blue;
}

/*Selectores con elementos HTML */
p {
  color: brown;
}
h2 {
  color: orange;
}
h3 {
  color: green;
}
img {
  width: 300px;
}

/*Selectores para html y clases id*/
img#logo {
  width: 600px;
}
h2#titulo {
  color: white;
}
/*Selectores para html y clases*/
section.seccion {
  background: orange;
}
div.noticia {
  background: gray;
}
/* selector universal */
/*
*{
  color: red!important;
  font-size: 20px!important;
}
*/
#listado-cursos * {
  color: blue;
}

.noticia * {
  font-size: 18px;
}

/*Seleccionar grupos*/
h2, h3, p, a {
  text-transform: uppercase;
}
h2, h3 {
  text-align: center;
}
/* Selector descendente */
nav#navegacion {
  background-color: orange;
  padding: 20px;
}
nav#navegacion ul {
  list-style: none;
}
nav#navegacion ul li {
  display: inline;
}
nav#navegacion ul li a {
  color: white;
}

/* Selector con hijos*/
section#cursos > ul {
  border: 1px solid white;
}
ul#listado-cursos li{
  color: red;
}
ul#listado-cursos li ul > li {
  color: green;
}

/* Selector para elementos adyacentes */
ul#listado-cursos + p {
  background-color: red;
  color: white;
}

/* Selectores para enlaces */
a[href*="facebook"]{
  background-color: yellow;
}

/* selectores de atributos */
img[id="logo"] {
  margin-top: 50px;
}

[class="seccion"] {
  background-color: blue!important;
}

/* selectores con Pseudodclases */
div.menu nav ul {
  list-style: none;
}
/* No funciona :-( */
a:focus,
a:visited,
a:active {
  color: green!important;
}
div.menu nav ul li a: hover {
  color: orange;
}
div.menu nav ul li:last-child a {
  text-decoration: none;
}
h2:hover{
  color: orange!important;
}

/*  Selecores con pseudoclases NTH-child*/
div.menu nav ul li:nth-child(1){
  background-color: red;
}
div.menu nav ul li:nth-child(2){
  background-color: yellow;
}
div.menu nav ul li:nth-child(3){
  background-color: purple;
}
div.menu nav ul li:nth-child(4){
  background-color: gray;
}
table tbody tr:nth-child(odd){
  background-color: gray;
}
table tbody tr:nth-child(even){
  background-color: green;
}
