
/* Font family */
body {
  font-family: Arial, Helvetica, serif;
}
/* forma tradicional
h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px; */
  /* font-size: 3rem; */
  /* font-size: 4em; */
  /* font-style: italic;
  text-transform: uppercase;
  font-weight: normal;
} */
/* forma abreviada  */
h2 {
  font: italic small-caps normal 30px/30px verdana;
  text-align: center;
  letter-spacing: 15px;
  text-indent: 300px;
}
h3 {
  font-family: "Times New Roman", serif;
  font-size: 23px;
  font-variant: small-caps;
  font-weight: lighter;
  text-align: right;
}
p {
  font-family: Geneva, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 40px;
  text-align: justify;
}
a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
#listado-cursos li{
  text-transform: lowercase;
}
#listado-cursos li em {
  font-style: normal;
}
section#introduccion p span {
  font-style: italic;
  text-decoration: underline;
}
p.oferta span{
  text-decoration: line-through;
  font-weight: bold;
}
div.oferta{
  height: 80px;
  background-color: red;
}
div.oferta h2 {
  line-height: 80px;
}
div.noticia p{
  text-indent: 300px;

}
